@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

:root {
	/*  BACKGROUND COLORS */

	--color-bg: #fff;
	--color-bg-hero: #1f2937;
	--color-bg-quote: #e5e7eb;
	--color-bg-cta: #3882f6; /* cta => call to action */
	--color-bg-button: #3882f6;

	/* FONT COLORS */

	--color-font-main: #1f2937;
	--color-font-hero-main: #f9faf8;
	--color-font-hero-secondary: #e5e7eb;
	--color-font-logo: #f9faf8;
	--color-font-inf-header: #1f2937;
	--color-font-quote: #1f2937;

	/* FONT SIZES */

	--size-font-main: 1.8rem;
	--size-font-hero-main: 48px;
	--size-font-hero-secondary: 18px;
	--size-font-logo: 24px;
	--size-font-inf-header: 36px;
	--size-font-quote: 36px;

	/* FONT WEIGHTS */

	--weight-font-main: 400;
	--weight-font-hero-main: 900;
	--weight-font-hero-secondary: 400;
	--weight-font-logo: 700;
	--weight-font-inf-header: 900;
	--weight-font-quote: 300;

	/* FONT FAMILY */

	--family-font-roboto: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;

	/* BORDER */

	--border-blue: #3882f6;
	--border-light: #fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	font-size: var(--size-font-main);
	font-weight: var(--weight-font-main);
	font-family: var(--family-font-roboto);
	color: var(--color-font-main);
	line-height: 1.5;
	letter-spacing: 1px;
	background-color: var(--color-bg);
}

h1,
h2,
h3 {
	font-weight: var(--weight-font-hero-main);
}

h1 {
	font-size: var(--size-font-hero-main);
	color: var(--color-font-hero-main);
	line-height: 1.2;
}

/* ...::: [ PAGE 1  -  PELIN] :::... */

/* place for your code */

/* ...::: [ PAGE 2  -  LEHI] :::... */

/* place for your code */

/* ...::: [ PAGE 3  -  YOSEF] :::... */

/* place for your code */

/* ...::: [ PAGE 4  -  PAWEL] :::... */

/* Buttons */

.btn {
	width: max-content;
	border: none;
	background: none;
	font-family: var(--family-font-roboto);
	font-size: var(--size-font-main);
	font-weight: var(--weight-font-logo);
	text-transform: capitalize;
	padding: 0.5em 2em;
	border-radius: 10px;
	cursor: pointer;
	white-space: nowrap;
	transition: 0.3s all ease-in;
}

.btn-blue {
	color: var(--color-font-logo);
	background-color: var(--color-bg-button);
}

.btn-blue:hover,
.btn-blue:focus {
	filter: brightness(1.3);
}

.btn-white {
	color: var(--color-bg);
	border: 2px solid var(--color-bg);
}

.btn-white:hover,
.btn-outline-blue:focus {
	color: var(--color-bg);
	border: 2px solid var(--color-bg);
}

/* Hero section */

.hero-main {
	padding: 7vw 12vw;
	background-color: var(--color-bg-hero);
	display: flex;
	gap: 2rem;
}

.hero h1 {
	margin-bottom: 2rem;
}

.hero-content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.hero-text {
	color: var(--color-font-hero-secondary);
}

.hero-img-container {
	flex: 1.3;
}

.hero-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.hero .btn {
	margin-top: 3rem;
}

/* Info section */

.information {
	display: flex;
	flex-direction: column;
}

.information > h2 {
	font-size: var(--size-font-inf-header);
	margin-block: 3rem;
	text-align: center;
}

.info-img-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info-img-container {
	width: min(200px, 100%);
	display: flex;
	flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
}

.info-img {
	width: 100%;
	aspect-ratio: 1;
	border: 3px solid var(--border-blue);
	border-radius: 7px;
}

.info-img-description {
	font-size: clamp(1.3rem, 0.5rem + 0.8vw, 1.6rem);
	text-align: center;
	color: var(--color-font-quote);
}

/* Testimonial section */

.testimonial {
	display: flex;
	flex-direction: column;

	padding: 7vw 18vw;
	margin-top: 10rem;

	background-color: var(--color-bg-quote);
}

.testimonial-quote,
.testimonial-quote::after,
.testimonial-quote::before {
	font-size: var(--size-font-quote);
	font-weight: var(--weight-font-quote);
	font-style: italic;
	color: var(--color-font-quote);
}

.testimonial-quote::before {
	content: open-quote;
}

.testimonial-quote::after {
	content: close-quote;
}

.testimonial-author {
	font-size: 2.5rem;
	font-weight: bold;
	align-self: flex-end;
}

/* Call to action */

.cta-field {
	width: 70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-inline: auto;
	margin-block: 10rem;
	padding: 4rem;
	border-radius: 10px;
	color: var(--color-font-logo);

	background-color: var(--color-bg-cta);
}

.cta-field h3 {
	font-size: 2.4rem;
}

.cta-text {
	max-width: 50ch;
	margin-top: 1rem;
}

